<!DOCTYPE html>
<html>
<head>
<!-- 顯示於瀏覽器上方的名稱 -->
  <title>Sticker Sample App | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
